.geography
  .geography__wrap
    .geography__map#map
    .container
      .geography__content
        span.subtitle.geography__subtitle География студий
        span.geography__caption С нами уже <a href="javascript:;" data-animation-duration="700" data-src="#popup-city" data-fancybox>120 городов</a> <span>России</span>
        .geography__descr
          p Наше авторизованное маркетинговое агентство запускает в работу систему автоматического продвижения, и клиенты сами вам пишут.
        .geography__ctrl
            a.btn.geography__ctrl-btn(href="#") Проверить свой город
            a.geography__ctrl-link(href="#") Ссылка
    .geography__ctrl.geography__ctrl--mob
      .geography__ctrl-btn
        a.btn(href="#") Проверить свой город
      a.geography__ctrl-link(href="#") Ссылка
