.about(data-controller="about" id="about")
  .container
    .about__wrap
      .about__holder
        span.subtitle.about__subtitle Laser Pro сегодня
        span.about__caption Федеральная сеть студий, окупаемых за  маржой 35–55% и доходностью <span style="text-decoration-line: underline">8–12 месяцев</span>, <span style="text-decoration-line: underline">уже с первого месяца</span>
        .about__descr
          p Наше авторизованное маркетинговое агентство запускает в работу систему автоматического продвижения, и клиенты сами вам пишут.
        .about__row
          .about__col
            .about__item
              span.about__item-title.js-about-title Более
              span.about__item-val <span class="js-about-val" data-count="156">0</span>
              span.about__item-name.js-about-name партнеров
              .about__item-descr
                p на вашу анкету можно собрать всего за пару дней
          .about__col
            .about__item
              span.about__item-title.js-about-title Более или менее, примерно
              span.about__item-val <span class="js-about-val" data-count="4">0</span>
              span.about__item-name.js-about-name собственных студии
              .about__item-descr
                p на вашу анкету можно собрать всего за пару дней
          .about__col
            .about__item
              span.about__item-title.js-about-title Более
              span.about__item-val <span class="js-about-val" data-count="23">0</span>
              span.about__item-name.js-about-name сотрудника в головном офисе
              .about__item-descr
                p нужно, чтобы полностью окупить бизнес
          .about__col
            .about__item
              span.about__item-title.js-about-title Более
              span.about__item-val <span class="js-about-val" data-count="120">0</span>  <span>тыс</span>
              span.about__item-name.js-about-name руб / мес среднемесячная прибыль
              .about__item-descr
                p среднемесячная прибыль
          .about__col
            .about__item
              span.about__item-title.js-about-title Более
              span.about__item-val <span class="js-about-val" data-count="0">0</span>  ₽
              span.about__item-name.js-about-name роляти
              .about__item-descr
                p на вашу анкету можно собрать всего за пару дней
          .about__col
            .about__item
              span.about__item-title.js-about-title Более
              span.about__item-val <span class="js-about-val" data-count="40">0</span> %
              span.about__item-name.js-about-name средняя рентабельность
              .about__item-descr
                p на вашу анкету можно собрать всего за пару дней
          .about__col
            .about__item
              span.about__item-title.js-about-title Более
              span.about__item-val <span class="js-about-val" data-count="6">0</span> 
              span.about__item-name.js-about-name месяцев
              .about__item-descr
                p нужно, чтобы полностью окупить бизнес
        .about__ctrl
          a.btn.about__ctrl-btn(href="javascript:;" data-src="#popup-subscribe" data-fancybox) Получить бизнес-план
          a.about__ctrl-link(href="#") Ссылка