.icon {

  &-fb {
    width: 8px;
    height: 15px;
  }

  &-vk {
    width: 14px;
    height: 9px;
  }

  &-twitter {
    width: 16px;
    height: 13px;
  }

  &-ok {
    width: 9px;
    height: 15px;
  }
}
