.indicators(data-controller="indicators" data-orientation="reverse")
  .container
    .indicators__wrap
      .indicators__holder.js-indicators-wrap
        div.indicators__inner
          .indicators__info
            span.subtitle.indicators__subtitle Показатели
            span.indicators__caption Выручка с первого дня работы студии
            .indicators__descr
              p Наше авторизованное маркетинговое агентство запускает в работу систему автоматического продвижения, и клиенты сами вам пишут.
            div
              .indicators__item.js-indicators-item
                .indicators__content.js-indicators-content.active#indicators-content-1
                  .indicators__slider.js-indicators-slider
                    .indicators__slider-item
                      img(data-lazy="assets/img/bg/bg-slider-2.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/concept/concept.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/bg/bg-slider-1.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/bg/bg-slider-2.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/concept/concept.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/bg/bg-slider-1.jpg", alt="img")
                  .indicators__nav.js-indicators-nav
                    .indicators__nav-item
                      img(data-lazy="assets/img/bg/bg-slider-2.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/concept/concept.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/bg/bg-slider-1.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/bg/bg-slider-2.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/concept/concept.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/bg/bg-slider-1.jpg", alt="img")
                a.indicators__item-btn.js-indicators-btn.active(href="#indicators-content-1") Студия, г. Ангарск
                .indicators__item-drop.js-indicators-drop.active
                  span.indicators__item-title 101 запись за 18 дней
                  ul.indicators__item-list
                    li Дата открытия: 22 марта
                    li Начало продвижения: 2 марта
                    li Количество записей: 101
                  .indicators__item-descr
                    p К моменту открытия, студия уже заполнена клиентами и партнер начинает получать выручку уже с первого дня работы.
                  .indicators__item-img
                    img(src="assets/img/bg/bg-slider-2.jpg", alt="img")
              .indicators__item.js-indicators-item
                .indicators__content.js-indicators-content#indicators-content-2
                  .indicators__slider.js-indicators-slider
                    .indicators__slider-item
                      img(data-lazy="assets/img/bg/bg-slider-1.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/concept/concept.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/bg/bg-slider-1.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/bg/bg-slider-2.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/concept/concept.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/bg/bg-slider-1.jpg", alt="img")
                  .indicators__nav.js-indicators-nav
                    .indicators__nav-item
                      img(data-lazy="assets/img/bg/bg-slider-1.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/concept/concept.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/bg/bg-slider-1.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/bg/bg-slider-2.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/concept/concept.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/bg/bg-slider-1.jpg", alt="img")
                a.indicators__item-btn.js-indicators-btn(href="#indicators-content-2") Студия, г. Казань
                .indicators__item-drop.js-indicators-drop
                  span.indicators__item-title 101 запись за 18 дней
                  ul.indicators__item-list
                    li Дата открытия: 22 марта
                    li Начало продвижения: 2 марта
                    li Количество записей: 101
                  .indicators__item-descr
                    p К моменту открытия, студия уже заполнена клиентами и партнер начинает получать выручку уже с первого дня работы.
                  .indicators__item-img
                    img(src="assets/img/bg/bg-slider-1.jpg", alt="img")
              .indicators__item.js-indicators-item
                .indicators__content.js-indicators-content#indicators-content-3
                  .indicators__slider.js-indicators-slider
                    .indicators__slider-item
                      img(data-lazy="assets/img/concept/concept.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/bg/bg-slider-2.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/bg/bg-slider-1.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/bg/bg-slider-2.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/concept/concept.jpg", alt="img")
                    .indicators__slider-item
                      img(data-lazy="assets/img/bg/bg-slider-1.jpg", alt="img")
                  .indicators__nav.js-indicators-nav
                    .indicators__nav-item
                      img(data-lazy="assets/img/concept/concept.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/bg/bg-slider-2.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/bg/bg-slider-1.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/bg/bg-slider-2.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/concept/concept.jpg", alt="img")
                    .indicators__nav-item
                      img(data-lazy="assets/img/bg/bg-slider-1.jpg", alt="img")
                a.indicators__item-btn.js-indicators-btn(href="#indicators-content-3") Студия, г. Ижевск
                .indicators__item-drop.js-indicators-drop
                  span.indicators__item-title 101 запись за 18 дней
                  ul.indicators__item-list
                    li Дата открытия: 22 марта
                    li Начало продвижения: 2 марта
                    li Количество записей: 101
                  .indicators__item-descr
                    p К моменту открытия, студия уже заполнена клиентами и партнер начинает получать выручку уже с первого дня работы.
                  .indicators__item-img
                    img(src="assets/img/bg/bg-slider-2.jpg", alt="img")
            .indicators__ctrl
              a.btn.indicators__ctrl-btn(href="javascript:;" data-src="#popup-city" data-fancybox) Проверить свой город
              a.indicators__ctrl-link(href="#") Ссылка
        div.indicators__inner.indicators__inner--mod.js-place-to-put-content
          
          
          