.concept(data-orientation="reverse")
  .container
    .concept__wrap
      .concept__holder 
        .concept__inner.concept__inner--img.b-lazy(data-src="assets/img/concept/concept.jpg")
          a.concept__video(href="https://www.youtube.com/watch?v=4YucA7IhDKs" data-fancybox)
            span.concept__video-btn
            span.concept__video-txt Смотреть видео о студии в Астрахане
        .concept__inner
          span.subtitle.concept__subtitle Показатели
          span.concept__caption Концепция бизнеса
          .concept__descr
            p Наше авторизованное маркетинговое агентство запускает в работу систему автоматического продвижения, и клиенты сами вам пишут.
          .concept__info
            .concept__info-item
              span.concept__info-name.js-concept-height Паушальный взнос
              span.concept__info-price 100 000 рублей
            .concept__info-item
              span.concept__info-name.js-concept-height Ремонтные работы
              span.concept__info-price 100 000 рублей
            .concept__info-item
              span.concept__info-name.js-concept-height Аппарат для удаления волос
              span.concept__info-price 390 000 рублей
            .concept__info-item
              span.concept__info-name.js-concept-height Аппарат вакумно-роликовый (опционально)
              span.concept__info-price 440 000 рублей
          span.concept__title Маркированный список
          ul.concept__list
            li.concept__list-item Полное удаление волос за 4-6 процедур.
            li.concept__list-item Подходит для разных типов кожи.
            li.concept__list-item Использует безопасный режим одиночных импульсов.
            li.concept__list-item Не требует мед. лицензирования.
            li.concept__list-item Длина волны 610-1064 НМ.
            li.concept__list-item Безопасен и эффективен.
          .concept__indicators
            .concept__indicators-item
              span.concept__indicators-num 23
              span.concept__indicators-txt.js-indicators-height опытных маркетолога в команде
            .concept__indicators-item
              span.concept__indicators-num 23
              span.concept__indicators-txt.js-indicators-height опытных маркетолога в команде
          .concept__ctrl
            a.btn.concept__ctrl-btn(href="javascript:;" data-src="#popup-city" data-fancybox) Смотреть список городов
            a.concept__ctrl-link(href="#") Ссылка




