.popup.popup-city#popup-city
  span.popup-city__caption Список всех студий
  .popup-city__holder
    .popup-city__row
      .popup-city__col 
        span.popup-city__title А
        ul.popup-city__list
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Абакан
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Азнакаево
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Азов
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Алатырь
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Александровское
          li.popup-city__list-item 
            a.popup-city__list-link(href="#") Алексеевское
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Алексин
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Альметьевск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Анапа
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Арзамас
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Армавир
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Арск
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Астрахань
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Аткарск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Ахтубинск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Ачинск
        span.popup-city__title Б
        ul.popup-city__list
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балаково
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балаково Жилгород
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балахна
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балашиха
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балашов
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Барнаул
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Батайск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Безенчук
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Белгород
      .popup-city__col
        span.popup-city__title Г
        ul.popup-city__list
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Гатчина
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Геленджик
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Георгиевск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Глазов
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Городец
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Гороховец
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Грязи
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Губкин
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Гуково
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Гусь-Хрустальный
        span.popup-city__title Д
        ul.popup-city__list
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дзержинск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дивеево
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дивное
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Димитровград
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дмитров
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Добрянка
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Долгопрудный
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Домодедово
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Донецк
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дубна
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дубовка
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дюртюли
      .popup-city__col 
        span.popup-city__title А
        ul.popup-city__list
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Абакан
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Азнакаево
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Азов
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Алатырь
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Александровское
          li.popup-city__list-item 
            a.popup-city__list-link(href="#") Алексеевское
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Алексин
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Альметьевск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Анапа
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Арзамас
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Армавир
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Арск
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Астрахань
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Аткарск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Ахтубинск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Ачинск
        span.popup-city__title Б
        ul.popup-city__list
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балаково
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балаково Жилгород
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балахна
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балашиха
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балашов
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Барнаул
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Батайск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Безенчук
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Белгород
      .popup-city__col
        span.popup-city__title Г
        ul.popup-city__list
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Гатчина
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Геленджик
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Георгиевск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Глазов
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Городец
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Гороховец
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Грязи
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Губкин
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Гуково
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Гусь-Хрустальный
        span.popup-city__title Д
        ul.popup-city__list
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дзержинск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дивеево
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дивное
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Димитровград
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дмитров
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Добрянка
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Долгопрудный
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Домодедово
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Донецк
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дубна
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дубовка
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дюртюли
      .popup-city__col 
        span.popup-city__title А
        ul.popup-city__list
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Абакан
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Азнакаево
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Азов
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Алатырь
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Александровское
          li.popup-city__list-item 
            a.popup-city__list-link(href="#") Алексеевское
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Алексин
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Альметьевск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Анапа
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Арзамас
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Армавир
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Арск
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Астрахань
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Аткарск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Ахтубинск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Ачинск
        span.popup-city__title Б
        ul.popup-city__list
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балаково
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балаково Жилгород
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балахна
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балашиха
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балашов
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Барнаул
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Батайск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Безенчук
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Белгород
      .popup-city__col
        span.popup-city__title Г
        ul.popup-city__list
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Гатчина
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Геленджик
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Георгиевск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Глазов
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Городец
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Гороховец
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Грязи
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Губкин
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Гуково
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Гусь-Хрустальный
        span.popup-city__title Д
        ul.popup-city__list
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дзержинск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дивеево
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дивное
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Димитровград
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дмитров
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Добрянка
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Долгопрудный
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Домодедово
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Донецк
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дубна
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дубовка
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Дюртюли
      .popup-city__col 
        span.popup-city__title А
        ul.popup-city__list
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Абакан
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Азнакаево
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Азов
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Алатырь
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Александровское
          li.popup-city__list-item 
            a.popup-city__list-link(href="#") Алексеевское
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Алексин
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Альметьевск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Анапа
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Арзамас
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Армавир
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Арск
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Астрахань
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Аткарск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Ахтубинск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Ачинск
        span.popup-city__title Б
        ul.popup-city__list
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балаково
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балаково Жилгород
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балахна
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балашиха
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Балашов
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Барнаул
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Батайск
          li.popup-city__list-item
            a.popup-city__list-link(href="#") Безенчук
          li.popup-city__list-item
            a.popup-city__list-link.popup-city__list-link--mod(href="#") Белгород