.popup {
  background-color: $accent;
  border-radius: 30px;
  padding: 45px 45px;
  width: 100%;
  max-width: 1400px;
  display: none;

  @include b(desktop) {
    padding: 35px 25px;
    border-radius: 15px;
  }

  &-video {

    &__holder {
      border-radius: 15px;
      overflow: hidden;
      height: 520px;

      @include b(mobile) {
        height: 420px;
      }
    }
  }
}

.popup-city {
  padding: 69px 45px 56px;
  max-width: 1415px;

  @include b(desktop) {
    padding: 35px 25px 0;
  }

  &__holder {
    @include b(mobile) {
      overflow: hidden;
      overflow-y: auto;
      max-height: 480px;
    }
  }

  &__caption {
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 58px;

    @include b(desktop) {
      padding-bottom: 30px;
    }
  }

  &__row {
    @include rlist;
    margin: 0 -25px;
    transform: translateY(100%);
    transition: all .4s;
    opacity: 0;
  }

  &__col {
    @include ulist;
    vertical-align: top;
    width: 14.28%;
    padding: 0 25px;

    @include b(desktop) {
      width: 25%;
    }

    @include b(mobile) {
      width: 50%;
    }
  }

  &__title {
    display: block;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
  }

  &__list {
    padding-bottom: 21px;

    @include b(mobile) {
      padding-bottom: 25px;
    }

    &-link {
      color: #fff;
      font-size: 14px;
      line-height: 20px;

      &--mod {
        font-weight: 700;
      }
    }
  }
}

.popup-success {
  overflow: hidden;

  &__holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 175px 0;

    @include b(desktop) {
      padding: 100px 0;
    }

    @include b(mobile) {
      padding: 20px 0;
    }
  }

  &__img {
    position: relative;
    width: 50%;
    text-align: center;
    z-index: 0;

    @include b(mobile) {
      width: 25%;
    }

    img {
      @include b(desktop) {
        width: 300px;
      }

      @include b(mobile) {
        width: 100%;
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #fff;
      opacity: .05;
      z-index: -1;
    }

    &:before {
      width: 560px;
      height: 560px;
    }

    &:after {
      width: 930px;
      height: 930px;
    }

    &-inner {
      position: relative;
      z-index: 0;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #fff;
        opacity: .05;
        z-index: -1;
      }

      &:before {
        width: 1300px;
        height: 1300px;
      }

      &:after {
        width: 1700px;
        height: 1700px;
      }
    }
  }

  &__info {
    color: #fff;
    width: 50%;
    padding-left: 85px;
    position: relative;
    z-index: 1;

    @include b(desktop) {
      padding-left: 25px;
    }

    @include b(mobile) {
      width: 75%;
    }

    &-title {
      display: block;
      font-size: 24px;
      line-height: 26px;
      padding-bottom: 20px;
      font-weight: 600;

      @include b(mobile) {
        font-size: 15px;
        line-height: 1.2;
        padding-bottom: 10px;
      }
    }

    &-caption {
      display: block;
      font-weight: 600;
      font-size: 40px;
      line-height: 44px;
      padding-bottom: 30px;

      span {
        display: block;
      }

      @include b(desktop) {
        font-size: 34px;
        line-height: 1.2;
      }

      @include b(mobile) {
        font-size: 27px;
        line-height: 33px;
        padding-bottom: 20px;
      }
    }

    &-txt {
      display: block;
      font-size: 17px;
      line-height: 25px;

      @include b(mobile) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.popup-subscribe {
  max-width: 1084px;
  padding: 60px 66px 0;
  position: relative;
  z-index: 0;
  overflow: hidden;

  @include b(desktop) {
    padding: 35px 25px 0;
  }

  &__holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // align-items: flex-end;
  }

  &__content {
    width: 50%;
    padding-bottom: 66px;

    @include b(mobile) {
      width: 100%;
    }

    @include b(480) {
      padding-bottom: 40px;
    }
  }

  &__img {
    width: 38%;
    margin: 0 auto;
    position: relative;
    @include b(mobile) {
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: contain;
      object-position: bottom;
      @include b(mobile) {
        width: 232px;
        max-width: 100%;
        margin: 0 auto;
        position: static;
      }
    }
  }

  &__subtitle {
    display: block;
    color: #fff;
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 20px;
    font-weight: 600;

    @include b(mobile) {
      font-size: 15px;
      line-height: 1.2;
      padding-bottom: 10px;
    }
  }

  &__caption {
    display: block;
    color: #fff;
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
    padding-bottom: 30px;
    letter-spacing: -.9px;

    @include b(desktop) {
      font-size: 34px;
      line-height: 1.2;
      letter-spacing: normal;
    }

    @include b(mobile) {
      font-size: 21px;
      line-height: 26px;
      padding-bottom: 20px;
    }
  }

  &__descr {
    font-size: 17px;
    line-height: 25px;
    color: #fff;
    padding-bottom: 51px;

    @include b(mobile) {
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 25px;
    }
  }

  &__form {
    max-width: 333px;

    @include b(mobile) {
      max-width: 100%;
    }

    &-box {
      padding-bottom: 20px;
    }

    &-check {
      padding-bottom: 30px;
    }

    &-btn {
      background: #000;
    }
  }

  &__decor {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #fff;
      opacity: .05;
    }

    &:before {
      width: 430px;
      height: 430px;
    }

    &:after {
      width: 730px;
      height: 730px;
    }

    &-inner {

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #fff;
        opacity: .05;
      }

      &:before {
        width: 1030px;
        height: 1030px;
      }

      &:after {
        width: 1390px;
        height: 1390px;
      }
    }
  }
}
