.popup.popup-success#popup-success
  .popup-success__holder
    .popup-success__img
      .popup-success__img-inner
        img(src="assets/img/success.png", alt="img")
    .popup-success__info
      span.popup-success__info-title Обратная связь
      span.popup-success__info-caption Заявка отправлена. <span>Вы прекрасны!</span>
      span.popup-success__info-txt Наши менеджеры свяжутся с вами в течении хх минут.
  
